.containerFrm{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 3px solid grey;
    border-radius: 20px;
    padding: 1% 2%;
    margin: 1% 8%;
    background-color: beige;
    text-align: center;
}
.order .value .find{
    margin: 1%;
    font-size: large;
    padding-top: 3%;
    border-right: 1px solid black;
}


.find {
    display: flex;
    flex-direction: column;
    margin-left: 40%;
    width: max-content;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
} 
.find input {
    background-color: aliceblue;
    border: 2px solid silver;
    color: silver;
}

.find button {
    width:50%;
    height: 40px;
    background-color: goldenrod;
    margin-top: 4px;
    border-radius: 5px 5px 5px;
    font-size: x-large;
}

.txt{
    margin-top: 2%;
    background-color: black;
    color: azure;
}

.filter{
    text-align: center;
    align-items: center;
}

@media(max-width:500px){
    .containerFrm{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        border: 3px solid grey;
        border-radius: 20px;
        max-width: 70vw;
        padding: 1%;
        background-color: beige;
        text-align: center;
        font-size: small;
    }
    .find {
        display: flex;
        flex-direction: column;
        margin-left: 25%;
        width: max-content;
        justify-content: center;
        align-items: center;
        margin-bottom: 5px;
    } 
}