.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    line-height: 40%;
    border: 3px solid grey;
    border-radius: 20px;
    padding: 1% 2%;
    margin: 8%;
    background-color: beige;
    text-align: center;
}

.container{
    margin: 1%;
}
.value{
    margin: 1%;
}

.find {
    margin: 1%;
    padding-top: 3%;
}

.txt{
    margin-top: 2%;
    background-color: black;
    color: azure;
}