.container{
    text-align: center;
    line-height: 0%;
    padding: 1%;
    width: 100%;
}

h4{
    color: gray;
    margin-top: 2px;
    padding: 0%;
}

p{
    color: gray;
    margin-top: 1px;
    margin-bottom: 3px;

}

@media (max-width:600px){
    h4{
        color: gray;
        padding: 0%;
        font-size: 8px;
    }
    p{
        color: gray;
        margin-top: 1px;
        margin-bottom: 3px;
        font-size: 8px;
    }
}