.containerHome{
    margin-top: 0%;
    margin-right: 5%;
    padding-right: 8%;
    padding-top: 0%;
    padding-left: 5%;
    width: 90vw;
    height: 100%;
    background-image: url("../../images/dogPatern.jpg");
    background-repeat: repeat;
    justify-content: center;
}

@media  (max-width:600px){
    .containerHome{
        margin-top: 0%;
        margin-right: 7%;
        padding-right: 8%;
        padding-top: 0%;
        padding-left: 0%;
        width: 90vw;
        height: 100%;
        /* background-image: url("../../images/dogPatern.jpg"); */
        background-color: brown;
        background-repeat: repeat;
        justify-content: center;
    }
}