
.frmDog{
    display: flex;
    flex-direction: column;
    flex-wrap:wrap ;
    justify-content: right;
    text-align: right;
    width: 40%;
    margin: 3%;
    margin-left: 20%;
    padding: 10%;
    align-items: center;
    background-color: lightblue;
    font-size: x-large;
}

.cabecera{
    width: 100%;
    justify-content: center;
    text-align: center;
}

.inpRaza{
    width: 82%;
}
input{
    font-size: x-large;
    margin-top: 5%;
}
.btnCrear{
    justify-content: center;
    margin-top: 1%;
    margin-left: 5px;
    height: 25px;
}

.cmbBox{
    margin-top: 25px;
    font-size: x-large;
    justify-items: center;
}

.btnBack img{
    width: 200px;
    height: 80px;
}
.btnBack{

    width: fit-content;
    height: fit-content;
    border: 2px solid goldenrod;
    box-shadow: 0px 0px 10px goldenrod;
    border-radius: 100% 50%;
    margin: 5% 45%;
}

.btnBack:hover{
    box-shadow: 0px 0px 30px olivedrab;
}


@media(max-width:550px){
    .frmDog{
        font-size: small;
    }
    input{
        font-size: small;
        margin-top: 5%;
    }
    .frmDog{
        margin: 5vw;
        padding: 3px;
        width: 90%;
    }
}

